<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/project_detail.css">
    <link rel="stylesheet" type="text/css" href="/static/css/project.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <title>TASK MANAGER - PROJECT DETAILS</title>
</head>
<body>
    <!--NAVBAR AT ALL PAGE-->
    <nav>
        <!--UPPER NAVBAR-->
        <upper>
            <div id="logo">
                <h2>SHYBRO++ "PROJECT DETAILS"</h2>
            </div>
            <div id="menu_vertical">
                <ul>
                    <li><a href="/logout/" class="special_case_1"><img src="/static/images/quit.png"></a></li>
                    <li><a href="/tasks/create/"><img src="/static/images/add.png"><p>Task</p></a></li>
                    <li><a href="/projects/create/"><img src="/static/images/add.png"><p>Project</p></a></li>
                </ul>
            </div>
        </upper>
        <!--LEFT NAVBAR-->
        <menu>
            <a href="/posts/"> 
                <div id="dashboard">
                    <img src="/static/images/dash.png" alt="Dashboard" />
                </div>
            </a>
            <ul>
                <a href="/projects/" class="list_element"><li><img src="/static/images/project.png" /></li></a>
                <a href="/tasks/" class="list_element"><li><img src="/static/images/task.png" /></li></a>
                <a href="http://localhost:4000" class="list_element"><li><img src="/static/images/message.png" /></li></a>
            </ul>
        </menu>
    </nav>
    <!--NAVBAR END-->

    <div id="middle">
    <!--PROJECT OWNER AREA-->
        <div id="pro_own">
            <img src="/static/images/person.jpg">
            <div id="pro"><p>Project Owner</p></div>
            <div id="pro_name"><p>{{ project_list.owner }}</p></div>
            <div id="pro_desc"><p>{{ project_list.description }}</p></div>
        </div>
         <div id="list_project_head">
            <h2>Task List of {{ project_list.title }}
                <p>{{ project_list.description }}</p>
            </h2>
         </div>
         <!--TASKS LIST-->
        <div id="project_table">
             <table class="table" border = "0">
                      <thead class="text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Description
                        </th>
                        <th>
                          Person in Charge
                        </th>
                        <th>
                          Timestamp
                        </th>
                        <th></th>
                      </thead>
                      <tbody>
                        {% for tsk in task_list %}
                        <tr id="t1">
                          <td>
                            {{ tsk.id}}
                          </td>
                          <td>
                            <a href="/projects/{{project_list.id}}/tasks/{{tsk.id}}" >{{ tsk.title }}</a>
                          </td>
                          <td>
                            {{ tsk.description }}
                          </td>
                          <td>
                            {{ tsk.person }}
                          </td>
                          <td>
                            {{ tsk.date }}
                          </td>
                          <td class="td-actions text-right">
                              <a href="/tasks/{{tsk.id}}/edit/"><img src="/static/images/edit.png"></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
        </div>
    </div>
</body>
</html>